* {
    box-sizing: border-box;
}

body {
   
    color: #264224;
    background: linear-gradient(to bottom,#ffffff, #264224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
}

p {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    display: grid;
}

p1 {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    display: block;
    /* width: 700px; */
    padding: 10px 10px 10px 10px;
}

p2 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    width: 90%;
    padding: 10px 10px 10px 10px;
}

p4 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    /* width: 800px; */
    padding: 10px 10px 10px 10px;
}

header a:link{
    text-decoration: none;
    color:black;
}

header a:visited{
    text-decoration: none;
    color:black;
}

header a:hover{
    text-decoration: none;
    color:whitesmoke;
}

header {
    background-color: black;
    
    padding: 1em;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 70px;
}

h1 {
    background-color: #78866b;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
   text-align: center;
   padding-top: .5em;
}


nav ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-family: 'Courier New', Courier, monospace;
}

nav li {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid #002171;
}

nav>a {
    text-decoration: none;
}

nav a:link{
    color: black;
    text-decoration: none;
}

nav a:visited{
    color: black;
    text-decoration: line-through;
}

nav a:hover{
    color:  #ffffff;
    text-decoration: none;
}

nav ul{
    padding-left: 1em;
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

nav li{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    width: 100%;
    border-bottom: 1px solid black;
    list-style-type: none;
}

h2{
    color: #52430F;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    
}

dt {
    font-weight: bold;
    color: #52430F;
    display: grid;
    text-align: left;
}

dd {
    text-align: left;
    display: grid;
    width: 65%;
}

dt1 {
    font-weight: bold;
    color: #52430F;
    display: grid;
    text-align: center;  
}

dd1 {
    text-align: center;
    display: grid;
    width: 90%;
}





footer {
    font-size: .70em;
    font-style: italic;
    text-align: center; 
    padding: 1em;
    color: grey;
    /* display: grid;
    grid-template-columns: 100%; */
    font-family: 'Courier New', Courier, monospace;
}

#wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    /* min-width: 960px;
    max-width: 2048px; */
    box-shadow:5px 5px;
    border: 2px solid black;
    border-radius: 70px;
    display: grid;
    grid-template-columns: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#disclaim {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
   
    font-size:x-small;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}


@media (min-width: 600px) {
    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    #wrapper {
        max-width: 94vw;
    }

    p4{
        max-width: 60vw;
    }
/* 
    .address {
        width: 50px;
    } */
}

@media (min-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom,#ffffff, #264224);
    }

    nav ul {
        padding-left: 10%;
        padding-right: 10%;
    }

    #wrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    p4 {
        width: 750px;
    }
}

#table {
        
        width: 100%;
        border-collapse: collapse;
        border: 2px double black;
        padding: 20px 20px 20px 20px;
        border-radius: 50px;
        text-align: center;
    }
    
    td{
        padding: 5px;
        border: 1px solid  #222021;
        text-align: center;
    }
    
    th{
        padding: 5px;
        border: 1px solid  #222021;
        
    }
    
    .text{
        text-align: center;
    }
    
    tr:nth-of-type(even){
        background-color:  #78866b;
    }
    
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea{
    margin-bottom: 0.5em;
}



.companyLogo img{
    height: 150px;
    background-image: url(lumber.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1em;
    float: right;
    border: 1.6px dashed black;
    border-radius: 35%;
}

section {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 10px;
    float:right;
}


#link>a{
    text-decoration: none;
}

#link a:link{
    color: black;
    text-decoration: none;
}

#link a:visited{
    color: #222201;
    text-decoration: line-through;
}

#link a:hover{
    color:  goldenrod;
    text-decoration: none;
}




